<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Chops for Vendors - Think Food. Think Chops.">
    <meta name="author" content="Daniel Enamudu">
    <link rel="icon" href="<%= BASE_URL %>assets/favicon.ico">
    <title>Chops for Vendors</title>
    
    <!-- Favicons-->
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/assets/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/assets/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/assets/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/assets/img/apple-touch-icon-144x144-precomposed.png">

    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" /> -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet" />
    <link href="/assets/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/admin/css/admin.css" rel="stylesheet" />
    <link href="/assets/admin/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="/assets/admin/css/custom.css" rel="stylesheet" />
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link href="/assets/css/bootstrap_customized.min.css" rel="stylesheet" />
    <link href="/assets/css/listing.css" rel="stylesheet" />
    <link href="/assets/css/leaflet.css" rel="stylesheet" />
    <link href="/assets/css/home.css" rel="stylesheet" />
    <link href="/assets/css/blog.css" rel="stylesheet" />
    <link href="/assets/css/order-sign_up.css" rel="stylesheet" />
    <link href="/assets/css/error.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome-all.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="/assets/css/custom.css" rel="stylesheet" />
  </head>
  <body style="font-size: 90%;" id="page-top">
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="/assets/js/common_scripts.min.js"></script>
    <script src="/assets/js/common_func.js"></script>
    <script src="/assets/js/sticky_sidebar.min.js"></script>
    <script src="/assets/js/specific_listing.js"></script>
    <script src="/assets/js/isotope.min.js"></script>
    <script src="/assets/js/leaflet_map/leaflet.min.js"></script>
    <script src="/assets/js/leaflet_map/leaflet_markercluster.min.js"></script>
    <script src="/assets/js/leaflet_map/leaflet_markers.js"></script>
    <script src="/assets/js/leaflet_map/leaflet_func.js"></script>
    <!-- <script src="/assets/admin/js/jquery.min.js"></script> -->
    <!-- <script src="/assets/admin/js/bootstrap.bundle.min.js"></script> -->
    <script src="/assets/admin/js/jquery.easing.min.js"></script>
    <script src="/assets/admin/js/jquery.dataTables.js"></script>
    <script src="/assets/admin/js/dataTables.bootstrap4.js"></script>
    <script src="/assets/admin/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/admin/js/dropzone.min.js"></script>
    <script src="/assets/admin/js/bootstrap-datepicker.js"></script>
    <!-- <script src="/assets/admin/js/Chart.js"></script> -->
    <!-- <script src="/assets/admin/js/admin-charts.js"></script> -->
    <script src="/assets/admin/js/admin-datatables.js"></script>
    <script>
        $("input.date-pick").datepicker();
    </script>
    <script src="/assets/admin/js/summernote-bs4.min.js"></script>
    <script>
        $(".editor").summernote({
            fontSizes: ["10", "14"],
            toolbar: [
                // [groupName, [list of button]]
                ["style", ["bold", "italic", "underline", "clear"]],
                ["font", ["strikethrough"]],
                ["fontsize", ["fontsize"]],
                ["para", ["ul", "ol", "paragraph"]],
            ],
            placeholder: "Write here ....",
            tabsize: 2,
            height: 200,
        });
    </script>
  </body>
</html>
